
html {
	font-size:49.4%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-1-r7t {
  box-sizing: border-box;
  padding: 6.2rem 9.4rem 22.6rem 9.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 17, 55);
}
.desktop-1-r7t .group-4-n9x {
  margin: 0rem 10.5rem 5.3rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .ellipse-1-TQW {
  margin-right: 4.4rem;
  width: 23.3rem;
  height: 17.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .cricliv-Mkn {
  margin: 3.1rem 36.8rem 0rem 0rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.4125;
  color: #fffcfc;
  font-family: Galindo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .group-1-Dnz {
  margin-top: 1.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .group-1-Dnz .home-ACS {
  margin-right: 6.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .group-1-Dnz .about-gwU {
  margin-right: 6.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .group-1-Dnz .contact-R8N {
  margin-right: 5.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-4-n9x .group-1-Dnz .news-9KG {
  margin-bottom: 0.1059rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-2-4x2 {
  margin: 0rem 48.9rem 15.8rem 49.4rem;
  box-sizing: border-box;
  padding-right: 1.7rem;
  width: calc(100% - 98.3rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.desktop-1-r7t .group-2-4x2 .ipl-Nhp {
  margin-right: 11.8rem;
  margin-left: 280px;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-2-4x2 .test-uxe {
  margin-right: 12.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-2-4x2 .odi-rN6 {
  margin: 0rem 12rem 0.4rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .group-2-4x2 .t20-mEA {
  margin-bottom: 0.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .rectangle-2-5Er {
  margin: 0rem 33.7rem 16.4rem 27.3rem;
  width: calc(100% - 61rem);
  height: 21.6rem;
  border: solid 0.1rem #d3bdbd;
  box-sizing: border-box;
  background-color: #567d46;
  flex-shrink: 0;
}
.desktop-1-r7t .auto-group-419u-NDx {
  margin: 0rem 17.95rem 37.3rem 11.5rem;
  width: calc(100% - 29.45rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-r7t .auto-group-419u-NDx .rectangle-3-hGE {
  margin-right: 27.8rem;
  width: 28.6rem;
  height: 29.9rem;
  background-color: #567d46;
  flex-shrink: 0;
}
.desktop-1-r7t .auto-group-419u-NDx .rectangle-4-SUi {
  margin-right: 30.15rem;
  width: 28.6rem;
  height: 29.9rem;
  background-color: #567d46;
  flex-shrink: 0;
}
.desktop-1-r7t .auto-group-419u-NDx .rectangle-5-nYa {
  width: 28.6rem;
  height: 29.9rem;
  background-color: #567d46;
  flex-shrink: 0;
}
.desktop-1-r7t .about-wAa {
  margin: 0rem 141.1rem 3.9rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .the-live-cricket-score-section-of-a-website-would-provide-real-time-updates-on-ongoing-cricket-matches-it-would-likely-include-the-following-information-the-teams-playing-and-their-current-scores-the-current-over-and-the-remaining-overs-the-current-bowler-and-batsman-the-scorecard-of-the-batting-team-including-the-runs-scored-number-of-boundaries-and-number-of-wickets-lost-the-scorecard-of-the-fielding-team-including-the-runs-conceded-number-of-wickets-taken-and-the-economy-rate-of-the-bowlers-option-for-ball-by-ball-updates-GCr {
  margin: 0rem 1.8rem 13.3rem 0rem;
  max-width: 122.6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #567d46;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-r7t .contact-9fx {
  margin: 0rem 134.7rem 9.4rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ff7512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-r7t .instagram-5pW {
  margin-right: 89.7rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #567d46;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
